Repository tigredonorte/procurement: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

feat(docker): add Docker development environment for monorepo services
  apps/backend/Dockerfile.dev
  apps/frontend/Dockerfile.dev
  apps/worker/Dockerfile.dev
  docker-compose.yml
Due: none

docs: restructure documentation into modular, organized sections
  docs/frontend.md
  docs/tasks/00-automation-rules.md
  docs/tasks/01-epic-a-foundations.md
  docs/tasks/02-epic-b-auth.md
  docs/tasks/03-epic-c-research-core.md
  docs/tasks/04-epic-d-worker.md
  docs/tasks/05-epic-e-webhooks.md
  docs/tasks/06-epic-f-ui-ux.md
  docs/tasks/07-epic-g-observability.md
  docs/tasks/08-epic-h-security.md
  docs/tasks/09-epic-i-documentation.md
  docs/tasks/Readme.md
  docs/ui/01-design-philosophy.md
  docs/ui/02-visual-identity.md
  docs/ui/03-color-system.md
  docs/ui/04-typography.md
  docs/ui/05-spacing-grid.md
  docs/ui/06-motion-animation.md
  docs/ui/07-component-architecture.md
  docs/ui/08-core-components.md
  docs/ui/09-complex-components.md
  docs/ui/10-responsive-design.md
  docs/ui/11-dark-mode.md
  docs/ui/12-accessibility.md
  docs/ui/13-implementation-guidelines.md
  docs/ui/14-appendices.md
  docs/ui/Readme.md
Due: prettier -w

chore: mark task A2 as in progress — updated: 2025-09-01 00:00 (America/Sao_Paulo)
  docs/tasks/01-epic-a-foundations.md
Due: prettier -w

chore(tasks): mark A4 Secrets Management task as in progress
  docs/tasks/01-epic-a-foundations.md
Due: prettier -w

feat(secrets): implement Doppler-based secrets management system
  .env.sample
  docs/development/secrets-management.md
  scripts/doppler-setup.sh
Due: prettier -w

chore(tasks): mark A4 Secrets Management task as completed
  docs/tasks/01-epic-a-foundations.md
Due: prettier -w

fix(docker): integrate environment variables and remove deprecated version field
  docker-compose.yml
Due: none

feat(docker): add containerized development environment
  .env.sample
  docker-compose.override.yml
  docker-compose.yml
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/nginx.conf
  docker/mongodb/init-mongo.js
  docker/worker/Dockerfile
  docs/docker-setup.md
  packages/shared/package.json
Due: eslint --fix, prettier -w

feat(config): implement environment configuration system with schema validation
  config/environments/development/app.config.json
  config/environments/development/database.config.json
  config/environments/development/redis.config.json
  config/environments/production/app.config.json
  config/environments/production/database.config.json
  config/environments/production/redis.config.json
  config/environments/staging/app.config.json
  config/environments/staging/database.config.json
  config/environments/staging/redis.config.json
  config/schemas/app.schema.json
  config/schemas/database.schema.json
  config/schemas/redis.schema.json
  package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/src/config/index.ts
  packages/shared/src/config/loader.ts
  packages/shared/src/config/types.ts
  packages/shared/src/config/validator.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
Due: eslint --fix, prettier -w

refactor components folder
  docs/architecture/README.md
  docs/architecture/frontend/README.md
  docs/architecture/frontend/components/08-core-components.md
  docs/architecture/frontend/components/09-complex-components.md
  docs/architecture/frontend/components/09b-additional-components.md
  docs/architecture/frontend/components/10-responsive-design.md
  docs/architecture/frontend/components/README.md
  docs/architecture/frontend/screens/README.md
  docs/architecture/frontend/ui/07-component-architecture.md
  docs/architecture/frontend/ui/Readme.md
  docs/frontend.md
Due: prettier -w

refactor components folder (#6)
  docs/architecture/README.md
  docs/architecture/frontend/README.md
  docs/architecture/frontend/components/08-core-components.md
  docs/architecture/frontend/components/09-complex-components.md
  docs/architecture/frontend/components/09b-additional-components.md
  docs/architecture/frontend/components/10-responsive-design.md
  docs/architecture/frontend/components/README.md
  docs/architecture/frontend/screens/README.md
  docs/architecture/frontend/ui/07-component-architecture.md
  docs/architecture/frontend/ui/Readme.md
  docs/frontend.md
Due: prettier -w

feat(ui): add storybook setup and implement button component
  .gitignore
  docs/architecture/frontend/ui/13-implementation-guidelines.md
  docs/frontend.md
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/Button.types.ts
  packages/ui/src/components/Button/index.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

feat(ui): add storybook setup and implement button component (#8)
  .gitignore
  docs/architecture/frontend/ui/13-implementation-guidelines.md
  docs/frontend.md
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/Button.types.ts
  packages/ui/src/components/Button/index.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

feat(ui): implement comprehensive Typography component library
  packages/ui/README.md
  packages/ui/src/components/Blockquote/Blockquote.stories.tsx
  packages/ui/src/components/Blockquote/Blockquote.tsx
  packages/ui/src/components/Blockquote/Blockquote.types.ts
  packages/ui/src/components/Blockquote/index.ts
  packages/ui/src/components/Code/Code.stories.tsx
  packages/ui/src/components/Code/Code.tsx
  packages/ui/src/components/Code/Code.types.ts
  packages/ui/src/components/Code/index.ts
  packages/ui/src/components/Heading/Heading.stories.tsx
  packages/ui/src/components/Heading/Heading.tsx
  packages/ui/src/components/Heading/Heading.types.ts
  packages/ui/src/components/Heading/index.ts
  packages/ui/src/components/Paragraph/Paragraph.stories.tsx
  packages/ui/src/components/Paragraph/Paragraph.tsx
  packages/ui/src/components/Paragraph/Paragraph.types.ts
  packages/ui/src/components/Paragraph/index.ts
  packages/ui/src/components/Text/Text.stories.tsx
  packages/ui/src/components/Text/Text.tsx
  packages/ui/src/components/Text/Text.types.ts
  packages/ui/src/components/Text/index.ts
  packages/ui/src/components/Typography.md
  packages/ui/src/index.ts
Due: eslint --fix, prettier -w

chore(lint): add comprehensive ESLint configuration
  eslint.config.js
Due: eslint --fix, prettier -w

feat(ui): add storybook setup and implement button component (#8)
  .gitignore
  docs/architecture/frontend/ui/13-implementation-guidelines.md
  docs/frontend.md
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/src/components/Blockquote/Blockquote.tsx
  packages/ui/src/components/Blockquote/Blockquote.types.ts
  packages/ui/src/components/Blockquote/index.ts
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/Button.types.ts
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Code/Code.tsx
  packages/ui/src/components/Code/Code.types.ts
  packages/ui/src/components/Code/index.ts
  packages/ui/src/components/Heading/Heading.tsx
  packages/ui/src/components/Heading/Heading.types.ts
  packages/ui/src/components/Heading/index.ts
  packages/ui/src/components/Paragraph/Paragraph.tsx
  packages/ui/src/components/Paragraph/Paragraph.types.ts
  packages/ui/src/components/Paragraph/index.ts
  packages/ui/src/components/Text/Text.tsx
  packages/ui/src/components/Text/Text.types.ts
  packages/ui/src/components/Text/index.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

feat(ui): add storybook setup and implement button component (#8) (#11)
  packages/ui/src/components/Blockquote/Blockquote.tsx
  packages/ui/src/components/Blockquote/Blockquote.types.ts
  packages/ui/src/components/Blockquote/index.ts
  packages/ui/src/components/Code/Code.tsx
  packages/ui/src/components/Code/Code.types.ts
  packages/ui/src/components/Code/index.ts
  packages/ui/src/components/Heading/Heading.tsx
  packages/ui/src/components/Heading/Heading.types.ts
  packages/ui/src/components/Heading/index.ts
  packages/ui/src/components/Paragraph/Paragraph.tsx
  packages/ui/src/components/Paragraph/Paragraph.types.ts
  packages/ui/src/components/Paragraph/index.ts
  packages/ui/src/components/Text/Text.tsx
  packages/ui/src/components/Text/Text.types.ts
  packages/ui/src/components/Text/index.ts
  packages/ui/src/index.ts
  packages/ui/tsup.config.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier -w: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css,scss})
