Repository tigredonorte/procurement: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

docs: ai script checking
  docs/script-checking/01-component-validation.md
  docs/script-checking/01-core-principles.md
  docs/script-checking/02-documentation-standards.md
  docs/script-checking/02-state-validation.md
  docs/script-checking/03-pwa-validation.md
  docs/script-checking/03-validation-patterns.md
  docs/script-checking/04-ui-validation.md
  docs/script-checking/assertion-guidelines.md
  docs/script-checking/backend-validation-guidelines.md
  docs/script-checking/external-api-validation-guidelines.md
  docs/script-checking/readme.md
  docs/script-checking/sample-api-spec.md
  docs/script-checking/validation-framework-summary.md
Due: prettier -w

scripts: improved check components
  packages/ui/scripts/batch-component-check.js
  packages/ui/scripts/check-component.js
  packages/ui/scripts/validators/storiesCoverage.js
  packages/ui/scripts/validators/structure.js
Due: eslint --fix, prettier -w

docs: documented what is missing on components
  packages/ui/components-progress.md
  packages/ui/components.tasks.md
  packages/ui/mismatch.md
  packages/ui/src/components/data-display/AlertDialog/track.md
  packages/ui/src/components/data-display/Avatar/track.md
  packages/ui/src/components/data-display/Badge/track.md
  packages/ui/src/components/data-display/Chart/track.md
  packages/ui/src/components/data-display/Popover/track.md
  packages/ui/src/components/enhanced/CodeEditor/CodeEditor.md
  packages/ui/src/components/enhanced/CodeEditor/CodeEditor.test.stories.tsx
  packages/ui/src/components/enhanced/CodeEditor/tests.md
  packages/ui/src/components/enhanced/DataGrid/DataGrid.test.stories.tsx
  packages/ui/src/components/enhanced/LottieAnimation/LottieAnimation.test.stories.tsx
  packages/ui/src/components/enhanced/PhoneInput/PhoneInput.test.stories.tsx
  packages/ui/src/components/enhanced/StackedModal/StackedModal.test.stories.tsx
  packages/ui/src/components/enhanced/Timeline/Timeline.test.stories.tsx
  packages/ui/src/components/form/Command/Command.stories.tsx
  packages/ui/src/components/layout/ScrollArea/ScrollArea.test.stories.tsx
  packages/ui/src/components/layout/Separator/Separator.test.stories.tsx
  packages/ui/src/components/layout/Spacer/track.md
  packages/ui/src/components/navigation/Breadcrumbs/track.md
  packages/ui/src/components/navigation/ContextMenu/track.md
  packages/ui/src/components/navigation/DropdownMenu/track.md
  packages/ui/src/components/navigation/Pagination/track.md
  packages/ui/src/components/navigation/Tabs/track.md
  packages/ui/src/components/typography/Blockquote/track.md
  packages/ui/src/components/typography/Code/track.md
  packages/ui/src/components/typography/Heading/track.md
  packages/ui/src/components/typography/Paragraph/track.md
  packages/ui/src/components/typography/Text/track.md
  packages/ui/src/components/utility/AspectRatio/track.md
  packages/ui/src/components/utility/InfiniteScroll/InfiniteScroll.test.stories.tsx
  packages/ui/src/components/utility/InfiniteScroll/track.md
  packages/ui/src/components/utility/Portal/track.md
  packages/ui/src/components/utility/Transition/track.md
  packages/ui/src/components/utility/VirtualList/track.md
  packages/ui/status.md
Due: eslint --fix, prettier -w

feat: adding ai-scripts-check lib
  packages/ai-script-checks/eslint.config.js
  packages/ai-script-checks/package.json
  packages/ai-script-checks/src/index.ts
  packages/ai-script-checks/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

test(Popover): enhance tests with real behavioral assertions
  packages/ui/components.tasks.md
  packages/ui/src/components/data-display/Popover/Popover.test.stories.tsx
  packages/ui/src/components/data-display/Popover/tests.md
Due: eslint --fix, prettier -w

scripts: speedup storybook scripts
  packages/ui/scripts/batch-component-check.js
  packages/ui/scripts/check-component.js
  packages/ui/scripts/guards/storybook.js
Due: eslint --fix, prettier -w

fix(Progress): correct test assertions to match MUI implementation
  packages/ui/components.tasks.md
  packages/ui/scripts/batch-component-check.js
  packages/ui/src/components/data-display/Progress/Progress.test.stories.tsx
  packages/ui/src/components/data-display/Progress/tests.md
Due: eslint --fix, prettier -w

scripts: prevents eslint disable
  packages/ui/scripts/batch-component-check.js
  packages/ui/scripts/check-component.js
  packages/ui/scripts/validators/lint.js
Due: eslint --fix, prettier -w

fix: all components
  packages/ui/.component-check-cache.json
  packages/ui/components.tasks.md
  packages/ui/mismatch.md
  packages/ui/scripts/batch-component-check.js
  packages/ui/scripts/check-component.js
  packages/ui/scripts/validators/lint.js
  packages/ui/src/components/enhanced/AddressAutocomplete/AddressAutocomplete.test.stories.tsx
  packages/ui/src/components/enhanced/AddressAutocomplete/AddressAutocomplete.tsx
  packages/ui/src/components/enhanced/AddressAutocomplete/tests.md
  packages/ui/src/components/enhanced/AddressAutocomplete/track.md
  packages/ui/src/components/enhanced/CodeEditor/CodeEditor.test.stories.tsx
  packages/ui/src/components/enhanced/CodeEditor/tests.md
  packages/ui/src/components/enhanced/CodeEditor/track.md
  packages/ui/src/components/enhanced/LottieAnimation/LottieAnimation.test.stories.tsx
  packages/ui/src/components/enhanced/LottieAnimation/tests.md
  packages/ui/src/components/enhanced/PhoneInput/PhoneInput.test.stories.tsx
  packages/ui/src/components/enhanced/PhoneInput/PhoneInput.tsx
  packages/ui/src/components/enhanced/PhoneInput/tests.md
  packages/ui/src/components/enhanced/PhoneInput/track.md
  packages/ui/src/components/enhanced/TutorialOverlay/tests.md
  packages/ui/src/components/feedback/Sonner/Sonner.tsx
  packages/ui/src/components/feedback/Sonner/tests.md
  packages/ui/src/components/feedback/Sonner/track.md
  packages/ui/src/components/form/InputOTP/InputOTP.test.stories.tsx
  packages/ui/src/components/form/InputOTP/tests.md
  packages/ui/src/components/form/InputOTP/track.md
  packages/ui/src/components/form/Menubar/Menubar.test.stories.tsx
  packages/ui/src/components/form/Menubar/tests.md
  packages/ui/src/components/form/Menubar/track.md
  packages/ui/src/components/form/Slider/Slider.test.stories.tsx
  packages/ui/src/components/form/Slider/tests.md
  packages/ui/src/components/form/Slider/track.md
  packages/ui/src/components/form/ToggleGroup/ToggleGroup.test.stories.tsx
  packages/ui/src/components/form/ToggleGroup/ToggleGroup.tsx
  packages/ui/src/components/form/ToggleGroup/tests.md
  packages/ui/src/components/form/ToggleGroup/track.md
  packages/ui/status.md
Due: eslint --fix, prettier -w

docs: adds tasks.md for ai-scripts-check
  packages/ai-script-checks/tasks.md
Due: prettier -w

fix: fix components tests
  .gitignore
  packages/ui/.component-check-cache.json
  packages/ui/components.tasks.md
  packages/ui/scripts/batch-component-check.js
  packages/ui/src/components/data-display/Alert/Alert.test.stories.tsx
  packages/ui/src/components/data-display/Alert/Alert.tsx
  packages/ui/src/components/data-display/Alert/tests.md
  packages/ui/src/components/data-display/Alert/track.md
  packages/ui/src/components/data-display/AlertDialog/AlertDialog.md
  packages/ui/src/components/data-display/AlertDialog/AlertDialog.test.stories.tsx
  packages/ui/src/components/data-display/AlertDialog/tests.md
  packages/ui/src/components/data-display/AlertDialog/track.md
  packages/ui/src/components/data-display/Avatar/Avatar.test.stories.tsx
  packages/ui/src/components/data-display/Avatar/tests.md
  packages/ui/src/components/data-display/Avatar/track.md
  packages/ui/src/components/data-display/Badge/Badge.test.stories.tsx
  packages/ui/src/components/data-display/Badge/Badge.tsx
  packages/ui/src/components/data-display/Badge/tests.md
  packages/ui/src/components/data-display/Badge/track.md
  packages/ui/src/components/data-display/Banner/Banner.test.stories.tsx
  packages/ui/src/components/data-display/Banner/tests.md
  packages/ui/src/components/data-display/Banner/track.md
  packages/ui/src/components/data-display/Carousel/Carousel.test.stories.tsx
  packages/ui/src/components/data-display/Carousel/Carousel.tsx
  packages/ui/src/components/data-display/Carousel/Carousel.types.ts
  packages/ui/src/components/data-display/Carousel/tests.md
  packages/ui/src/components/data-display/Carousel/track.md
  packages/ui/src/components/form/Menubar/track.md
  packages/ui/src/components/form/Slider/track.md
  packages/ui/status.md
  packages/ui/tsup.config.bundled_gd76q5zsd5i.mjs
  procurement.code-workspace
Due: eslint --fix, prettier -w

feat(Progress): verify component validation and test completeness [omega-910]
  packages/ui/components.tasks.md
  packages/ui/src/components/data-display/Progress/tests.md
  packages/ui/src/components/data-display/Progress/track.md
Due: prettier -w

feat(ci-cd): add full CI/CD pipeline and production infrastructure
  .dockerignore
  .env.example
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/health.controller.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.json
  apps/frontend/Dockerfile
  apps/frontend/index.html
  apps/frontend/nginx.conf
  apps/frontend/package.json
  apps/frontend/src/main.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  apps/worker/Dockerfile
  apps/worker/package.json
  apps/worker/src/app.module.ts
  apps/worker/src/health.controller.ts
  apps/worker/src/main.ts
  apps/worker/tsconfig.json
  docker-compose.prod.yml
  package.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/form/Slider/Slider.tsx
  turbo.json
Due: eslint --fix, prettier -w

fix(ci-cd): address CI failures and Copilot PR review feedback
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  apps/backend/Dockerfile
  apps/backend/src/health.controller.ts
  apps/frontend/Dockerfile
  apps/worker/Dockerfile
  apps/worker/src/health.controller.ts
  docker-compose.prod.yml
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

fix(ui): replace fs.globSync with tinyglobby for Node 20 compatibility
  packages/ui/package.json
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

fix(ci): resolve ESLint, health sentinel, and Keycloak startup issues
  apps/backend/src/health.controller.ts
  apps/worker/src/health.controller.ts
  docker-compose.prod.yml
  packages/ui/.eslintignore
Due: eslint --fix, prettier -w

fix(ci): resolve ESLint flat config issues and improve CI reliability
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/worker/package.json
  eslint.config.js
  packages/ui/.eslintignore
Due: eslint --fix, prettier -w

fix(ci): simplify test step and harden prod MongoDB credentials
  .github/workflows/ci.yml
  docker-compose.prod.yml
Due: none

fix(review): address Copilot PR review feedback
  .github/workflows/cd.yml
  apps/worker/src/health.controller.ts
  docker-compose.prod.yml
  packages/config/package.json
  packages/ui/package.json
  packages/ui/src/components/form/Slider/Slider.tsx
Due: eslint --fix, prettier -w

docs(review): improve inline comments and invalidate stale Copilot review threads
  .github/workflows/ci.yml
  apps/worker/src/health.controller.ts
  docker-compose.prod.yml
  packages/ui/src/components/form/Slider/Slider.tsx
Due: eslint --fix, prettier -w

fix(ci): resolve test failures blocking CI pipeline
  .github/workflows/ci.yml
  packages/ai-script-checks/package.json
Due: prettier -w

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier -w: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css,scss})
